{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-runtime",
    "transform-regenerator"
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
